{% extends 'base.html' %}
{% block content %}


<h3 style = " margin-bottom: 20px;"><strong>Escolha uma opção</strong></h3>

<div class="container container-voto">
    <h4>{{question.question}}</h4>

    <form method="POST" action="{% url 'resultado' question.id %}">
        {% csrf_token %}
    <ul class="list-group" style="margin:0px">
        {% for option in options %}
        
        <label>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name = 'choice' value="{{option.id}}" aria-label="...">
                {{option.option}}
            </li>
        </label>
        {% endfor %}

    
</ul>
<input type="submit" value = "Votar" class = 'btn btn-primary btn-voto'>
</form>
</div>



{% endblock %}